<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-allow-background-audio"
	version="1.0.1">

	<name>allow-background-audio</name>

	<description>
		Background Audio for iOS

		When included within a cordova/phonegap build then the application will support background audio for iOS
		out of the box. No further action is necessary.

		This negates having to use location/other solutions that may not be accepted by Apple.
	</description>

	<keywords>background-audio,background,audio,media,ios</keywords>

	<license>MIT</license>

	<author>David S. Figatner based on source@kingsquare.nl</author>

	<repo>https://github.com/davidfig/cordova-allow-background-audio.git</repo>
	<issue>https://github.com/davidfig/cordova-allow-background-audio/issues</issue>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>

	 <!-- ios -->
	 <platform name="ios">

		 <config-file target="config.xml" parent="/*">
			 <feature name="AllowBackgroundAudio">
				 <param name="ios-package" value="AllowBackgroundAudio" onload="true" />
				 <param name="onload" value="true" />
			 </feature>
		 </config-file>

		 <source-file src="src/ios/AllowBackgroundAudio.m" />

	 </platform>

</plugin>
